@font-face {
    font-family: MontserFont;
    src: url(../INTEG\ \ PROG\ Website/Montserrat/Montserrat-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: LalezarFont;
    src: url(../INTEG\ \ PROG\ Website/Lalezar/Lalezar-Regular.ttf) format(truetype);
    font-weight: normal; 
    font-style: normal;  
}
html{
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: MontserFont, LalezarFont;
}
body{
    margin: 0;
    padding: 0;
    min-width: 500px;
    width: 100%;
}
.container{
    max-width: 800px;
    margin: 15rem auto;
    padding: 7rem 4.5rem;
    padding-bottom: 2.5rem;
    background-color: #b4d9e1;
    border: solid 5px #85582f;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
button{
    font-size: 1.25rem;
    margin-top: 3.5rem;
    font-family: MontserFont;
    padding: 1.25rem 4.5rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #93ada4;
    border-color: #93ada4;
}